# Reproducing London Plan Annual Monitoring Report tables in Python

Ricky Nathvani, April 2024

## Introduction

In May 2019, James Gleeson provided notebooks [on his GitHub](https://github.com/jgleeson/housing_analysis/blob/master/AMR_tables.md)
demonstrating how to reproduce some of the tables in the London Plan Annual Monitoring Report (AMR) from the London Development Database (LDD) data published on the London Datastore. These notebooks, written in R, used the Greater London Authority's data on every housing development in London by borough, to show the number of 1 bedroom, 2 bedroom... etc builds stratified by tenure and by borough. In order to make this analysis accessible and usable by a wider segment of users (i.e. those better versed in Python than R) I have converted his analysis notebooks to Python. Note that although [more recent data are available](https://www.london.gov.uk/programmes-strategies/planning/implementing-london-plan/monitoring-london-plan), to ensure replicability of the original results, I have used the same sources as the [original notebooks](https://github.com/jgleeson/housing_analysis/blob/master/AMR_tables.md).

## Setup

Your Python environment may not have the `tabulate` library we will need to render the tables in nice, easy-to-read Markdown, in which case you will need to install it. We will also be using `pandas` for all of the data manipulating, which you can install with `pip install pandas` if needed.

In [1]:
!pip install tabulate

Requirement already satisfied: tabulate in /opt/conda/lib/python3.11/site-packages (0.9.0)

Now let's go ahead and import the necessary libraries. Assuming you are running the code in a Jupyter notebook, you can render Markdown directly as outputs using `IPython.display`.

In [2]:
import pandas as pd
from tabulate import tabulate
from IPython.display import Markdown

We will pull in the exact same data as the original analysis for comparability, which as of April 2024, is still accessible from the URL. This data specifically used the 'Unit level' sheet (which we select for using `sheet_name=1` when reading the xlsx file from the URL). To made the comparison with the original R code easier, I have also adopted the `unitc` name for the Dataframe.

In [3]:
unitc = pd.read_excel("https://data.london.gov.uk/download/london-plan-amr14-tables-and-data/ad929204-cbe9-4bb2-bed7-1c1d28d210c9/LDD%20-%20Housing%20Completions%20for%20AMR14.xlsx", sheet_name=1)

The original R analysis, used the helpful `clean_names()` function to automatically sanitise the column headings so that they only consist of underscores and lower-case alphanumerical symbols. This doesn't exist in Python but we can achieve a similar outcome for this specific data by specifying lower-case letters and replacing spaces with underscores for consistent column handling.

In [4]:
unitc.columns = unitc.columns.str.lower().str.replace(' ', '_')

## Data preparation

Following the original procedure, we'll first map the data, which contains the exact number of bedrooms (called "beds" for brevity in the analysis) that each new unit had, onto a reduced set of values, i.e. 1 bed, 2 bed, 3 bed, and 4+ beds like so:

In [5]:
def bedrooms_topcode(x):
    if x == 1:
        return "1 bed"
    elif x == 2:
        return "2 beds"
    elif x == 3:
        return "3 beds"
    else:
        return "4 beds or more"

unitc['bedrooms'] = unitc['number_of_bedrooms'].apply(bedrooms_topcode)

## Analysis

### Table 3.8

In the AMR, Table 3.8 showed the number of bedrooms by tenure. To match the order used in the AMR we first reorder the tenure variable like so:

In [6]:
tenure_order = ["Social Rented", "Intermediate", "Affordable Rent", "Market"]
unitc['unit_tenure'] = pd.Categorical(unitc['unit_tenure'], categories=tenure_order, ordered=True)

Now we can create the table itself, filtering out null records and counting the number of 'proposed units' (see the original analysis [for details](https://github.com/jgleeson/housing_analysis/blob/master/AMR_tables.md)). Note that in `pandas`, there are differences in the function naming, e.g. `tally` from R is now `sum`.

In [7]:
table_3_8 = (
    unitc[unitc['bedrooms'].notnull()]
    .groupby(['bedrooms', 'unit_tenure'], observed=True)['proposed_units']
    .sum()
    .unstack('bedrooms')
    .reindex(tenure_order)
    .fillna(0)
    .astype(int)
)

Unlike R, I couldn't devise an elegant way to include the Total row in the initial table construction, but we can add that on separately like so:

In [8]:
total_row = pd.DataFrame(unitc[unitc['bedrooms'].notnull()].groupby('bedrooms', observed=True)['proposed_units'].sum()).T
total_row.index = ['Total']
table_3_8 = pd.concat([table_3_8, total_row])

For added comparability with the original analysis, we can also tidy up the column headings.

In [9]:
table_3_8.index.name = 'Tenure'
table_3_8.columns.name = None

And now our table is ready! At this point, we could simply print out the table to the terminal, or save it as a CSV to use later or share with collaborators. However, we can render it neatly in-line in this analysis notebook by formatting it directly into Markdown with `tabulate`. Before that, we can also implement a step Jim was unable to do in R, which is adding in 1000's separators for readability, before we convert and display the table.

In [10]:
## Uncomment these lines if you want to view the table in terminal, or save the table output to file.
# print("Table 3.8:")
# print(table_3_8)
# table_3_8.to_csv('London_plan_AMR_Table_3_8.csv')

# Add comma separators for 1000s in each column
formatted_table_3_8 = table_3_8.apply(lambda x: x.apply(lambda y: f"{y:,}"))

from tabulate import tabulate
markdown_table = tabulate(formatted_table_3_8.reset_index(), tablefmt="pipe", headers="keys", showindex=False)

from IPython.display import Markdown
Markdown(markdown_table)

| Tenure          | 1 bed   | 2 beds   | 3 beds   | 4 beds or more   |
|:----------------|:--------|:---------|:---------|:-----------------|
| Social Rented   | 1,018   | 1,120    | 814      | 283              |
| Intermediate    | 1,151   | 1,373    | 409      | 40               |
| Affordable Rent | 586     | 840      | 481      | 213              |
| Market          | 16,162  | 14,446   | 4,937    | 1,879            |
| Total           | 18,917  | 17,779   | 6,641    | 2,415            |

### Table 3.9

We can also produce Table 3.9, which shows Gross conventional completions by bedrooms and borough. Unlike the original R approach, I take a much more manual approach to formatting the final column into a % and for calculating the '% 3 or more' column, which, although inelagant, has the advantage that it achieve's Jim's original goal of presenting the final column rounded to the nearest whole number, rather than to 2 decimal places.

In [11]:
table_3_9 = (
    unitc[unitc['bedrooms'].notnull()]
    .groupby(['borough', 'bedrooms'], observed=True)['proposed_units']
    .sum()
    .unstack('bedrooms')
    .fillna(0)
    .astype(int)
)

# Add a 'Total' column
table_3_9['Total'] = table_3_9.sum(axis=1)

# Add a '% 3 or more' column
table_3_9['% 3 or more'] = ((table_3_9['3 beds'] + table_3_9['4 beds or more']) / table_3_9['Total'] * 100).round().astype(int).astype(str) + '%'

total_row = table_3_9.sum(numeric_only=True).to_frame().T
total_row['% 3 or more'] = ((total_row['3 beds'] + total_row['4 beds or more']) / total_row['Total'] * 100).round().astype(int).astype(str) + '%'
total_row.index = ['Total']

table_3_9 = pd.concat([table_3_9, total_row])

Again, we can tidy up the column headings for comparability:

In [12]:
table_3_9.index.name = 'Borough'
table_3_9.columns.name = None

And finally, exactly as before we can either print the table out directly, save it to file or add the 1000's separator (except for the final column, which is in `string` format) and display it as easily readable Markdown as needed:

In [13]:
# print("\nTable 3.9:")
# print(table_3_9)
# table_3_9.to_csv('London_plan_AMR_Table_3_9.csv')

formatted_table_3_9 = table_3_9.apply(lambda x: x.apply(lambda y: f"{y:,}") if x.name != '% 3 or more' else x)

markdown_table_3_9 = tabulate(formatted_table_3_9.reset_index(), tablefmt="pipe", headers="keys", showindex=False)

Markdown(markdown_table_3_9)

| Borough                | 1 bed   | 2 beds   | 3 beds   | 4 beds or more   | Total   | % 3 or more   |
|:-----------------------|:--------|:---------|:---------|:-----------------|:--------|:--------------|
| Barking and Dagenham   | 139     | 241      | 168      | 53               | 601     | 37%           |
| Barnet                 | 704     | 1,145    | 436      | 99               | 2,384   | 22%           |
| Bexley                 | 159     | 355      | 151      | 176              | 841     | 39%           |
| Brent                  | 654     | 653      | 148      | 23               | 1,478   | 12%           |
| Bromley                | 428     | 391      | 133      | 83               | 1,035   | 21%           |
| Camden                 | 601     | 534      | 134      | 38               | 1,307   | 13%           |
| City of London         | 5       | 7        | 0        | 0                | 12      | 0%            |
| Croydon                | 1,627   | 878      | 408      | 66               | 2,979   | 16%           |
| Ealing                 | 652     | 645      | 205      | 64               | 1,566   | 17%           |
| Enfield                | 462     | 289      | 175      | 96               | 1,022   | 27%           |
| Greenwich              | 1,444   | 765      | 297      | 30               | 2,536   | 13%           |
| Hackney                | 494     | 505      | 282      | 89               | 1,370   | 27%           |
| Hammersmith and Fulham | 531     | 480      | 158      | 161              | 1,330   | 24%           |
| Haringey               | 468     | 330      | 103      | 48               | 949     | 16%           |
| Harrow                 | 259     | 314      | 94       | 59               | 726     | 21%           |
| Havering               | 157     | 206      | 190      | 124              | 677     | 46%           |
| Hillingdon             | 396     | 318      | 65       | 118              | 897     | 20%           |
| Hounslow               | 696     | 362      | 114      | 10               | 1,182   | 10%           |
| Islington              | 335     | 301      | 79       | 40               | 755     | 16%           |
| Kensington and Chelsea | 156     | 85       | 77       | 77               | 395     | 39%           |
| Kingston upon Thames   | 133     | 107      | 31       | 34               | 305     | 21%           |
| Lambeth                | 790     | 571      | 198      | 58               | 1,617   | 16%           |
| Lewisham               | 604     | 794      | 216      | 42               | 1,656   | 16%           |
| Merton                 | 246     | 176      | 49       | 60               | 531     | 21%           |
| Newham                 | 1,095   | 1,058    | 387      | 54               | 2,594   | 17%           |
| Redbridge              | 403     | 277      | 81       | 60               | 821     | 17%           |
| Richmond upon Thames   | 203     | 240      | 46       | 48               | 537     | 18%           |
| Southwark              | 901     | 1,136    | 396      | 96               | 2,529   | 19%           |
| Sutton                 | 379     | 299      | 25       | 20               | 723     | 6%            |
| Tower Hamlets          | 2,159   | 1,962    | 832      | 171              | 5,124   | 20%           |
| Waltham Forest         | 377     | 476      | 186      | 69               | 1,108   | 23%           |
| Wandsworth             | 755     | 1,282    | 301      | 123              | 2,461   | 17%           |
| Westminster            | 505     | 597      | 476      | 126              | 1,704   | 35%           |
| Total                  | 18,917  | 17,779   | 6,641    | 2,415            | 45,752  | 20%           |